{% extends 'layout.njk'%}
{% block content %}
    <section>
        <div class="description">
            <h2>Sobre o Foodfy</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores doloremque vitae id, tenetur aliquid error dolores qui! Pariatur expedita totam fuga odit provident similique accusamus quaerat quos neque itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora unde possimus facere sed dolorum quod labore voluptate sapiente voluptas repellendus pariatur nihil debitis harum sequi voluptatibus, impedit nulla earum non.Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores doloremque vitae id, tenetur aliquid error dolores qui! Pariatur expedita totam fuga odit provident similique accusamus quaerat quos neque itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora unde possimus facere sed dolorum quod labore voluptate sapiente voluptas repellendus pariatur nihil debitis harum sequi voluptatibus, impedit nulla earum non.</p>            
            <p>Pariatur expedita totam fuga odit provident similique accusamus quaerat quos neque itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora unde possimus facere sed dolorum quod labore voluptate sapiente voluptas repellendus pariatur nihil debitis harum sequi voluptatibus, impedit nulla earum non.Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores doloremque vitae id, tenetur aliquid error dolores qui!</p>        
            <h3>Como tudo começou...</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores doloremque vitae id, tenetur aliquid error dolores qui! Pariatur expedita totam fuga odit provident similique accusamus quaerat quos neque itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora unde possimus facere sed dolorum quod labore voluptate sapiente voluptas repellendus pariatur nihil debitis harum sequi voluptatibus, impedit nulla earum non.Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores doloremque vitae id, tenetur aliquid error dolores qui! Pariatur expedita totam fuga odit provident similique accusamus quaerat quos neque itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora unde possimus facere sed dolorum quod labore voluptate sapiente voluptas repellendus pariatur nihil debitis harum sequi voluptatibus, impedit nulla earum non.</p>            
            <p>Pariatur expedita totam fuga odit provident similique accusamus quaerat quos neque itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora unde possimus facere sed dolorum quod labore voluptate sapiente voluptas repellendus pariatur nihil debitis harum sequi voluptatibus, impedit nulla earum non.Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores doloremque vitae id, tenetur aliquid error dolores qui!</p>
            <h3>Nossas receitas</h3>
            <p>Pariatur expedita totam fuga odit provident similique accusamus quaerat quos neque itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora unde possimus facere sed dolorum quod labore voluptate sapiente voluptas repellendus pariatur nihil debitis harum sequi voluptatibus, impedit nulla earum non.Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores doloremque vitae id, tenetur aliquid error dolores qui!</p>
        </div>    
    </section>
{% endblock %}